.let{
    background-color: lightblue;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-family: serif;
    font-size: 20px;
    line-height: 20px;
}

.Add{
    text-align: center;
    font-family: serif;
    border-bottom: 1px solid black;
    line-height: 15px;
}

.Today{
    padding-left: 20px;
    line-height: 15px;
    font-family: serif;
}

.para{
    padding-left: 20px;
    font-family: serif;
    line-height: normal;  
}

.body{
    width: 500px;
    background-color
    

}

    